@keyframes zoomIn {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 105% 105%;
  }
}

@keyframes zoomOut {
  0% {
    background-size: 105% 105%;
  }
  100% {
    background-size: 100% 100%;
  }
}

