//////////////////////////////////////////////////////////////
// display
//////////////////////////////////////////////////////////////
.w7-flex {
  display: flex;
}

.w7-flex-fill {
  flex: 1;
}

.w7-flex-wrap {
  flex-wrap: wrap;
}

//////////////////////////////////////////////////////////////
// direction
//////////////////////////////////////////////////////////////
.w7-flex-row {
  flex-direction: row;
}

.w7-flex-col {
  flex-direction: column;
}

//////////////////////////////////////////////////////////////
// justify-content
//////////////////////////////////////////////////////////////
.w7-flex-jc-center {
  justify-content: center;
}

.w7-flex-jc-end {
  justify-content: end;
}

.w7-flex-jc-between {
  justify-content: space-between;
}

.w7-flex-jc-evenly {
  justify-content: space-evenly;
}

//////////////////////////////////////////////////////////////
// align-item
//////////////////////////////////////////////////////////////
.w7-flex-ai-center {
  align-items: center;
}

.w7-flex-ai-end {
  align-items: end;
}
