$primary100: #fed400;
$primary101: #fed40082;
$primary102: #fed400e6;
$primary110: #fcfcfc;

$secondary100: #404040;
$secondary110: #292929a6;
$secondary111: #292929e0;

$secondary200: #473c3e;


$text: $primary110;
